<nav ngxNavbarDynamicExpand class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [ngClass]="{ 'active':activeTab==='Welcome'}" (click)="select('Welcome')">
        <a class="nav-link" >Welcome <i class="fa fa-heart" style="color:red;"></i></a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active':activeTab==='Schedule'}" (click)="select('Schedule')">
        <a class="nav-link" >Schedule <i class="fa fa-calendar"></i></a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active':activeTab==='Getting there'}" (click)="select('Getting there')">
        <a class="nav-link" >Getting there <i class="fa fa-map" style="color:orange;"></i></a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active':activeTab==='Photos'}" (click)="select('Photos')">
        <a class="nav-link" >Photos <i class="fa fa-image"></i></a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active':activeTab==='RVSP'}" (click)="select('RVSP')">
        <a class="nav-link" >RVSP <i class="fa fa-user-plus"></i></a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>