<form
      #loginForm="ngForm"
      class="form"
      (ngSubmit)="login()"
    >
      <input
        class="form-control"
        required
        name="username"
        type="text"
        placeholder="Username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control"
        required
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>