<nav
  ngxNavbarDynamicExpand
  class="navbar navbar-expand-md navbar-light bg-light p-2"
>
  <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" mat-icon-button color="accent" (click)="collapse.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        [ngClass]="{ active: registerMode === false }"
        (click)="select(false)"
      >
        <a class="nav-link"
          >Login <i class="fa fa-sign-in"></i>
        </a>
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: registerMode === true }"
        (click)="select(true)"
      >
        <a class="nav-link"
          >Register <i class="fa fa-user-plus"></i></a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>
<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
<div *ngIf="!registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-login
      ></app-login>
    </div>
  </div>
</div>
