<app-nav></app-nav>
<p> 
  {{content.id}}
  {{content.name}}
  {{content.venue_name}}
  {{content.schedule_reception}}
  {{content.schedule_meal}}
  {{content.directions_car}}
  {{content.directions_taxi}}
  {{content.the_date}}
  {{content.the_host}}</p>
  <!-- format is year, month ,day, hours:minutes -->
  <countdown units="Year | Month | Days | Hours | Minutes | Seconds"  end={{latest_date}}></countdown>

  <div id="Welcome" class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div id="Schedule" class="jumbotron">
  <h1 class="display-3">Schedule!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>